body {
    background-color: aquamarine;
}

p {
    color:darkblue;
    font-size: 24px;
    font-style: italic;
    text-decoration: underline;
}
.logo {
    border:2px solid darkblue;
    width: 400px;
}

